{% extends 'visitorLayout.html.twig' %}

{% block title %}Ferme de la Volière - Votre panier{% endblock %}

{% block body %}
    <section class="shopping-cart">
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="justify-content-center">
                        <h1 class="text-center">Bonjour Prénom Nom</h1>
                        <h2 class="text-center">Voici votre panier</h2>
                    </div>
                </div>
            </div>
        <div class="container-fluid">
        <div class="table-responsive-sm">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th colspan="3">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="img-product"><img src=" {{ asset('build/logo_voliere.png') }}" alt="Produit"></td>
                        <td class="name-product">Radis</td>
                        <td class="description-product">Miam miam la bonne botte de radis du jardin avec du beurre c'est drôlement bon</td>
                        <td>1,80 €</td>
                        <td>INSERER DROPDOWN</td>
                        <td>3,60€</td>
                        <td><img src=" {{ asset('build/icon_delete.png') }}" alt="Supprimer le produit"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
