{% extends 'visitorLayout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <section class="my-account">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Mon compte</h1>
                    <h2 class="text-center">Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
