{% extends 'visitorLayout.html.twig' %}

{% block title %} Changement de mot de passe {% endblock %}

{% block body %}

    <section class="change-password">
        <div class="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-outline">Confirmer</button>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}