{% extends 'visitorLayout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <section class="request-password">
        <div class="container my-3">
            <h3 class="text-center display-4 pt-5 my-5">Réinitialisez votre mot de passe</h3>

            <div class="card mx-auto">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <div class="row justify-content-center">
                    <button class="btn btn-outline col-11 col-md-4 mt-4">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <p class="text-center my-4">Un mail vous sera envoyé afin de réinitialiser votre mot de passe</p>
        </div>
    </section>

{% endblock %}
