<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Bonjour {{ user.firstname ~' '~ user.lastname }}</h1>
<p>Pour réinitialiser votre mot de passe veuillez cliquer sur ce lien:</p>
<a href="{{absolute_url(path('reset_password', {'id': user.id, 'token': user.token}))}}">Changer de mot de passe</a>
</body>
</html>