{% extends 'base.html.twig' %}

{% block title %}Ferme de la Volière | Histoire{% endblock %}

{% block body %}

    <!-- =================== Début section Histoire ferme =================== -->

    <section id="farm_history" class="farm-history">
        <div class="container">
            <h2 class="text-center"></h2>
            <div class="row">

            </div>
        </div>
    </section>

    <!-- =================== fin section Histoire ferme ===================== -->
{% endblock %}
