{% extends 'visitorLayout.html.twig' %}

{% block title %}Hello OurFarmController!{% endblock %}

{% block body %}

<header id="our-farm" class="header-farm">
    <div>
        <h1 class="text-center title-wrapper">La ferme (ta gueule)</h1>
    </div>
    <div>
        <img src="{{ asset('build/image_header_farm.jpg') }}" alt="Image d'accueil de la Ferme de la Volière">
    </div>
</header>
{% endblock %}
