footer {
  background-color: $footer-color;
  font-family: $font-text;
  font-size: 1rem;

  a:link, a {
    color: $text-color-secondary;
    transition: all .3s linear;
  }

  a:hover {
    color: $secondary-color;
    text-decoration: none;
  }

  li{
    list-style: none;
    color: $text-color-secondary;
    padding-bottom: 0.4rem;
  }

  p {
    font-size:0.8rem;
    color: $text-color-secondary;
  }

  img {
    max-width : 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .footer-title {
    color: #1d4b1b;
    font-size:1.2em;
    font-family: $font-title;
  }
}
