footer {
  background-color: $footer-color;
  font-family: $font-text;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));

  a:link, a {
    color: $text-color-secondary;
    transition: all .3s linear;
  }

  a:hover {
    color: $secondary-color;
    text-decoration: none;
  }

  li {
    list-style: none;
    color: $text-color-secondary;
    padding-bottom: 0.4rem;
  }

  ul{
    padding-left: 0;
  }

  p {
    font-size: calc(8px + (12 - 8) * ((100vw - 300px) / (1600 - 300)));
    color: $text-color-secondary;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }

  .footer-title {
    color: $font-text-fourth;
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-family: $font-text-special;
  }
}

.cgv-modal {

  .modal-body, .modal-header {
    background-color: $footer-color;
    color: $text-color-secondary;

    h5 {
      font-size: 1.5rem;
      font-family: $font-main-title;
    }

    h6 {
      position: center;
      margin: 1em;
      font-size: 1.2rem
    }

    p {
      margin: 1em;
      font-family: $font-text;
      font-size: 1rem;
    }
  }
}
