$primary-color: #b0cc3a;
$secondary-color: #d01518;
$background-color: #f5f5f5;
$warm-color: #ffd64f;
$footer-color: #74A641;

$background-card-color: white;

$showcased-section: #f5f5f5;

$font-text: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-main-title: 'Lobster', cursive;
$font-text-special: 'Lobster Two', cursive;

$text-color-primary: #000;
$text-color-secondary: #fff;
$text-color-tertiary: #707579;

$navbar-height: 50px;

@mixin btn-outline($color){
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: $text-color-secondary;
  background-color: $color;
  border-radius: unset;
  padding: 5px 20px;
  &:hover{
    color: $color;
    background-color: transparent;
    border-color: $color;
  }
}

@mixin btn-over-image{
  color: $text-color-primary;
  font-family: $font-text;
  font-weight: 500;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  text-decoration: none;
  padding: 13px 35px;
  background-color: $primary-color;
  border-radius: 60px;

    &:hover {
      color: $text-color-secondary;
      border-color: $secondary-color;
      background-color: $secondary-color;
      text-decoration: none;
    }
  }

@mixin pill-nav{
  .nav-link {
    font-size: 1.2rem;
    padding: 13px 35px;
  }

  .nav-item {
    background-color: $primary-color;
    border: $primary-color 1px solid;
    border-radius: unset;

    a {
      color: white;
    }

    .active {
      color: $primary-color;
      background-color: white;
      border-color: $primary-color;
      border-radius: unset;
    }
  }
}

$label-font-size : 20px;

@mixin required($character : ' * ', $color : red) {
  content: $character;
  color: $color;
}

@mixin card-form($width, $max-width){
  width: $width;
  max-width: $max-width;
  border: unset;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 14px 0 rgba(0, 0, 0, 0.06);
}