$primary-color: #b0cc3a;
$secondary-color: #d01518;
$background-color: #ececec;
$warm-color: #ffd64f;

$font-text: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-main-title: 'Lobster', cursive;

$text-color-primary: #000;
$text-color-secondary: #fff;