/* Admin page title */

.admin-h2 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  font-family: $font-text-special;
}

.admin-h1 {
  color: black;
  font-family: $font-main-title;
  font-size: 3rem;
  font-weight: 500;
}


/* Required condition for category page */

.admin-category > .required::after {
  @include required('')
}


/* product table */

.table-showcased {
  width: 220px;
}

.table-name {
  width: 250px;
}


/* Add button for admin page */

.btn-admin {
  color: white;
  background-color: black;
  border-radius: 50px;
  margin-bottom: 10px;

  &:hover {
    background-color: gray;
    color: white;
  }
}

.btn-add {
  color: white;
  background-color: $footer-color;
  border-radius: 50px;
  margin-bottom: 10px;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.custom-file-label:lang(fr)::after {
  content: "Choisir...";
}