@mixin button-admin($color-default, $color-hover) {

  color: $text-color-secondary;
  background-color: $color-default;
  border-radius: 50px;
  margin-bottom: 10px;

  &:hover {
    background-color: $color-hover;
    color: $text-color-secondary
  }
}

/* Admin page title */

.admin-h2 {
  color: $text-color-primary;
  font-size: 2rem;
  font-weight: 500;
  font-family: $font-text-special;
}

.admin-h1 {
  color: $text-color-primary;
  font-family: $font-main-title;
  font-size: 3rem;
  font-weight: 500;
}


/* Required condition for category page */

.admin-category > .required::after {
  @include required('')
}


/* product table */

.table-showcased {
  width: 220px;
}

.table-name {
  width: 250px;
}


/* Add button for admin page */

.btn-admin {
  @include button-admin($text-color-primary, $text-color-tertiary)
}

.btn-add {
  @include button-admin($primary-color, $footer-color)
}

.btn-del {
  @include button-admin($secondary-color, $danger-color)
}

.custom-file-label:lang(fr)::after {
  content: "Choisir...";
}

/* Style for product edit page */

.vich-image {
  text-align: center;

  a {
    img {
      height: 150px;
      width: auto;
      margin-top: 40px;
    }
  }
}