.admin-h2 {
  font-size: 2rem;
  font-weight: 500;
}

.admin-h1 {
  font-size: 3rem;
  font-weight: 500;
}

.admin-h1, .admin-h2 {
  font-family: $font-main-title;
  color: black;
}

.admin-category>.required::after {
    @include required('')
  }
