@import "vars";
@import "~bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap);


body {
    background-color: $background-color;
    font-family: $lato;
}

.logo-navbar {
    height: 70px;
    width: 160px;
}

.user-navbar, .basket-navbar{
    height: 40px;
    width: auto;
}


.nav-link{
    font-size: 1.8rem;
}


a {
    color: $warm-color;
}