.shopping-cart {
  .quantity-spinner {
    .minus, .plus {
      display: inline-block;
      -webkit-appearance: none;
      background-color: $footer-color;
      vertical-align: middle;
      justify-content: center;
      cursor: pointer;
      margin: 5px;
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      color: $text-color-secondary;
      box-shadow: -1px 1px 6px rgba($text-color-primary, 0.5);
      transition : ease-in 0.3s;
      align-content: center;
    }

    a:hover {
      text-decoration: none;
      background-color: $primary-color;
    }
  }

  td {
    vertical-align: middle;
    text-align: center;
  }
  td img{
    vertical-align: top;
    text-align: center;
  }
  .img-product img {
    max-height: 50px;
    max-width: 50px;
    object-fit: cover;
  }

  .name-product {
    font-weight: bold;
  }

  .jumbotron {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image_banner.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    padding-top: 15vh;
    padding-bottom: 6%;
    margin-bottom: 0;
  }

  h1 {
    color: $text-color-secondary;
    font-family: $font-main-title;
    font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));

  }

  h2 {
    color: $text-color-secondary;
    font-family: $font-text-special;
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  }

  tr {
    font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
  }

  .btn-outline-validate {
    @include btn-outline($footer-color);
  }

  .btn-outline-back {
    @include btn-outline($text-color-tertiary);
  }

  .empty-cart  {
    color: $text-color-secondary;
  }

  .total-cart-price{
    color : $secondary-color;
    font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 900;
  }

  .total-cart{
    font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
}