/* ============= Début style header product-page ============ */

.catalog-basket-header {
  @include background-sections;

  .jumbotron {
    background-image: url("../images/image_week_basket.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba($text-color-primary, 0.6);
    background-blend-mode: color;
    min-height: 65vh;
    border-radius: 0;
    align-items: center;

    h1{
      font-family: $font-main-title;
      color: $text-color-secondary;
      font-size: calc(5vw + 14px);
    }

    h2 {
      color: $primary-color;
    }

    .lead {
      color: $text-color-secondary;
      padding-top: 2.5%;
      padding-bottom: 2%;
      font-family: $font-text;
      font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
      letter-spacing: 0;
      line-height: 1.5rem;
    }
  }

  .btn-over-image {
    @include btn-over-image();
  }
}

/* ============= Fin style header product-page ============ */

.products {
  padding-top: 4%;
}

.catalog {
  @include background-sections;
  @include spinner;

  .nav-link {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding: 10px 35px;
    width: 300px;
  }

  .nav-item {
    color: $footer-color;
    background-color: $color-transparent;
    border: 1px solid $footer-color;
    border-radius: unset;

    a {
      color: $footer-color;
    }

    .active {
      background-color: $footer-color;
      border: $footer-color 1px solid;
      border-radius: unset;
    }
  }

  .card {
    width: 20rem;
    border-radius: unset;
    border: none;
    background-color: transparent;

    .card-description {
      width: 90%;
      background-color: $background-card-color;
      padding: 30px;
      margin-top: -2em;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 14px 0 rgba(0, 0, 0, 0.06);
    }

    .card-title {
      font-family: $font-title;
      text-transform: uppercase;
      font-weight: 700;
      font-size: calc(24px + (26 - 24) * ((100vw - 300px) / (1600 - 300)));
      height: 4rem;
    }

    .bold-text {
      font-weight: bold;
    }

    .card-text {
      font-family: $font-text;
      height: 2rem;
    }

    .card-text-desc{
      height: 2.5rem;
    }

    .card-img-top {
      height: 16rem;
      object-fit: cover;
      border-radius: 0;
    }

    .price {
      color: $primary-color;
    }

    .btn-outline {
      @include btn-outline($secondary-color);
    }

    .card-footer {
      border: none;
      background-color: $background-card-color;
    }

    .card-text-gray {
      color: $text-color-tertiary;
    }
  }
}
