.error404{
  background-image: url("../images/image_404.jpg");
  object-fit: contain;
  position: center;
  height: 100vh;

  h1{
    font-size: calc(100px + (300 - 100) * ((100vw - 300px) / (1600 - 300)));
    color: $secondary-color;
    font-weight: 700;
  }

  h2{
    font-size: calc(35px + (70 - 35) * ((100vw - 300px) / (1600 - 300)));
    color: $text-color-secondary
  }

  p{
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-top: 10%;
    margin-bottom: 10%;
    color: $text-color-secondary
  }

  .btn {

    font-family: $font-text;
    text-decoration: none;
    padding: 1% 2%;
    color: $text-color-secondary;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    background-image: none;
    background-color: $secondary-color;
    z-index: 1000;
    border-radius: 0;


    &:hover {
      color: $text-color-secondary;
      border-color: $footer-color;
      background-color: $footer-color;
      text-decoration: none;
    }
  }
}