section {
  padding-bottom: 4%;
}

/* ================= Début Style Header ================ */

.header-farm {
  @include background-sections;
  padding-bottom: 5%;

  h1 {
    font-family: $font-main-title;
    z-index: 1000;
  }

  img {
    position: relative;
    height: 65vh;
    object-fit: cover;
    width: 100%;
    -webkit-filter: contrast(90%) brightness(90%);
    filter: contrast(90%) brightness(90%);
    z-index: 0;
  }

  .a-header:link, .a-header:visited {
    color: $text-color-secondary;
    text-decoration: none;
  }

  .a-header:hover, .a-header:active {
    color: $primary-color;
  }

  .title-wrapper {
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(5vw + 15px);
  }

  .p-title-wrapper {
    font-family: $font-main-title;
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  .btn {
    position: absolute;
    font-family: $font-text;
    text-decoration: none;
    padding: 1% 2%;
    color: $text-color-primary;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    background-image: none;
    background-color: $primary-color;
    z-index: 1000;
    border-radius: 60px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    &:hover {
      color: $text-color-secondary;
      border-color: $secondary-color;
      background-color: $secondary-color;
      text-decoration: none;
    }
  }

  .header-arrow a {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;

    &:hover {
      border-color: $secondary-color;
    }
  }
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}


/*================== Fin Style Header ================== */

/* ================ Début Styles histoire ferme ==================== */

.farm-history {
  padding-bottom: 6%;
  @include background-sections;

  .row-farm-width {
    width: 90%;
  }

  h5 {
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }

  img {
    width: auto;
  }

  .picto {
    max-height: 90px;
  }

  .row-low {
    flex-direction: row;
  }
}

/* ================ Fin Styles histoire ferme ==================== */

/* =============== Début Styles point de collecte ================== */

.location {
  @include background-sections;

  .jumbotron {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/farmpage/image_location.jpg");
    background-color: rgba($text-color-primary, 0.5);
    background-blend-mode: color;
    border-radius: 0;
    align-items: center;
  }

  h2 {
    color: $primary-color;
    padding-bottom: 3%;
  }

  .p-banner {
    padding-top: 3%;
    font-family: $font-main-title;
    color: $text-color-secondary;
    font-size: calc(18px + (42 - 18) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  a {
    text-decoration: none;
  }

  .card {
    border: none;
    border-radius: 25% 0 25% 0;
    background-image: url("../images/background-pattern_1.jpg");
    box-shadow: 0 4px 6px -1px rgba($text-color-primary, 0.16), 0 6px 9px 0 rgba($text-color-primary, 0.24), 0 2px 15px 0 rgba($text-color-primary, 0.12);
  }

  .card-title {
    font-family: $font-text-special;
    text-transform: capitalize;
    color: $secondary-color;
    font-weight: 700;
    font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .p-body {
    height: 100px;
  }

  .p-location {
    font-family: $font-text;
    color: $text-color-primary;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
  }

  .p-location-sub {
    font-family: $font-text;
    color: $text-color-tertiary;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
  }

  .p-location-type {
    font-family: $font-text;
    font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: $text-color-tertiary;
    text-align: left;
  }

  .color-text-gray {
    color: $text-color-tertiary;
  }
}

/* =============== Fin Styles point de collecte ================== */

/* =============== Début Styles GuestHouse ================== */

.farm-guesthouse {
  @include background-sections;

  h3 {
    font-family: $font-text-special;
    color: $footer-color;
    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    letter-spacing: normal;
  }

  .p-guesthouse {
    font-family: $font-text;
    color: $text-color-primary;
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  .p-guesthouse-sub {
    font-family: $font-text;
    color: $text-color-tertiary;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  .p-guesthouse-picto {
    font-family: $font-text;
    color: $text-color-tertiary;
    font-size: calc(8px + (11 - 8) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 0;
  }

  .card-img-top {
    border-radius: 0;
  }

  .img-big-guesthouse {
    object-fit: cover;
    height: 100%;
  }

  .container-guesthouse {
    position: relative;
    text-align: center;
    color: $text-color-secondary;
  }

  .btn {
    z-index: 1000;

    &:hover {
      background-color: $secondary-color;
      color: $text-color-secondary;
    }
  }

  .bottom-left-text {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-family: $font-text;
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: $text-color-primary;
    background-color: $footer-color;
    border-radius: 0;
  }

  .upper-left-img {
    position: absolute;
    top: 8px;
    left: 8px;
    max-width: 70px;
  }

  .img-picto {
    max-width: 35px;
  }
}

.modal {
  background-color: rgba($text-color-primary, 0.6);

  .modal-lg {
    max-width: 80vw;
  }

  .img-test {
    max-height: 640px;
    object-fit: cover;
  }

  .modal-body {
    padding: 0px 0px 0px 0px;
    border-radius: 0;
  }

  .upper-right-cross {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .close {
    font-size: 3rem;
    z-index: 2000;
  }

  .p-modal {
    font-family: $font-text;
    color: $text-color-secondary;
    background-color: $footer-color;
    padding: 1% 2%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    background-color: $footer-color;
  }
}

/* =============== Fin Styles GuestHouse ================== */

/* =============== Début Styles Partners ================== */

.partners {
  padding-bottom: 0;
  background-color: $text-color-secondary;

  .carousel {
    @media (min-width: 768px) and (max-width: 991px) {
      /* Affiche 4 images si col-md-4*/
      .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
      }
    }
    @media (min-width: 576px) and (max-width: 768px) {
      /* Affiche 3 images si col-sm-6 */
      .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
      }
    }
    @media (min-width: 576px) {
      .carousel-item {
        margin-right: 0;
      }
      /* Affiche 2 images */
      .carousel-inner .active + .carousel-item {
        display: block;
      }
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
      }
      .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
      }
      /* direction gauche */
      .active.carousel-item-left + .carousel-item-next.carousel-item-left,
      .carousel-item-next.carousel-item-left + .carousel-item,
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
      /* positionnement de l'image droite non-visible*/
      .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
      }
      /* direction droite */
      .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
      .carousel-item-prev.carousel-item-right + .carousel-item,
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
      }
    }
    /* MD */
    @media (min-width: 768px) {
      /* Affiche la 3eme image */
      .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
      }
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
      }
      .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
      }
      /* direction gauche */
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
      /* direction droite */
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
      }
    }
    /* LG */
    @media (min-width: 991px) {
      /* Affiche 4 images */
      .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
      }
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
      }
      /* Affiche 5 images si col-lg-3 */
      .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
      }
      /* Direction gauche */
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
      /* direction droite */
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
      }
    }
    @media (min-width: 670px) {
      .carousel-control-prev-icon {
        transform: translateX(-300%);
      }
      .carousel-control-next-icon {
        transform: translateX(300%);
      }
    }
  }

  .jumbotron {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/farmpage/image_header_farm2.jpg");
    background-color: rgba($text-color-primary, 0.5);
    background-blend-mode: color;
    border-radius: 0;
    align-items: center;
  }

  h2 {
    color: $primary-color;
    padding-bottom: 3%;
  }

  img {
    max-width: 200px;
    max-height: 250px;
    min-height: 250px;
    object-fit: contain;
  }

  a {
    text-decoration: none;
  }
}

/* =============== Fin Styles partners ================== */
