section{
  padding-bottom: 4%;
}

/* ================= Début Style Header ================ */

.header-farm {
  padding-bottom: 4%;
  h1 {
    font-family: $font-main-title;
    z-index: 1000;
  }

  img {
    position: relative;
    z-index: -10;
    height: 50vh;
    object-fit: cover;
    width: 100%;
    -webkit-filter: contrast(90%) brightness(90%);
    filter: contrast(90%) brightness(90%);
  }

  .a-header:link, .a-header:visited {
    color: $text-color-secondary;
    text-decoration: none;
  }

  .a-header:hover, .a-header:active {
    color: $primary-color;
  }

  .title-wrapper {
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(5vw + 15px);
  }

  .p-title-wrapper {
    font-family: $font-main-title;
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  .btn {
    position: absolute;
    font-family: $font-text;
    text-decoration: none;
    padding: 1% 2%;
    color: $text-color-primary;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    background-image: none;
    background-color: $primary-color;
    z-index: 1000;
    border-radius: 60px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    &:hover {
      color: $text-color-secondary;
      border-color: $secondary-color;
      background-color: $secondary-color;
      text-decoration: none;
    }
  }

  .header-arrow a {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;

    &:hover{
      border-color: $secondary-color;
    }
  }
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}


/*================== Fin Style Header ================== */

/* ================ Début Styles histoire ferme ==================== */

.farm-history{
  .row-farm-width{
    width:90%;
  }
  h5{
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  img{
    width:auto;
  }

  .picto{
    max-height: 90px;
  }
  .row-low{
    align-items: baseline;
  }
}

/* ================ Fin Styles histoire ferme ==================== */

/* =============== Début Styles point de collecte ================== */

.location{
  .jumbotron{
    background-image: url("../images/background-pattern_1.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    align-items: center;
    border-radius: 0;
    h2{
      color: $primary-color;
      padding-bottom: 3%;
    }
    .card{
      border: none;
      border-radius: 25% 0 25% 0;
      background-color: transparent;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.16), 0 6px 9px 0 rgba(0, 0, 0, 0.24), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    }
    .card-title {
      font-family: $font-text-special;
      text-transform: capitalize;
      color: $secondary-color;
      font-weight: 700;
      font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    .p-location {
      font-family: $font-text;
      color:$text-color-primary;
      font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
    .p-location-sub {
      font-family: $font-text;
      color:$text-color-tertiary;
      font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
    .p-location-type{
      font-family: $font-text;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: $text-color-tertiary;
    }
  }
  .btn-over-image{
    @include btn-over-image();
  }
}

/* =============== Fin Styles point de collecte ================== */

/* =============== Début Styles GuestHouse ================== */

.farm-guesthouse{
  h3{
    font-family: $font-text;
    color:$text-color-primary;
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    letter-spacing: normal;
  }
  .p-guesthouse {
    font-family: $font-text;
    color:$text-color-primary;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  }
  .p-guesthouse-sub {
    font-family: $font-text;
    color:$text-color-tertiary;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  }
  .card-img-top{
    border-radius:0;
  }
  .img-big-guesthouse{
    object-fit: cover;
    height: 100%;
  }
  .container-guesthouse{
    position: relative;
    text-align: center;
    color: white;
  }
  .btn{
    z-index: 1000;
  }
  .bottom-left-text{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: $font-text;
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    color:$text-color-primary;
    background-color: $primary-color;
    border-radius: 0;
  }
}

.modal{
  background-color: rgba(0,0,0,0.6);
  .modal-lg{
    max-width:80vw;
  }
  .modal-body{
    padding:0px 0px 0px 0px;
  }
  .upper-right-cross{
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .close{
    font-size:3rem;
    color: $secondary-color;
    z-index:2000;

    &:hover{
      color: $footer-color;
    }
  }
  .carousel-control-prev, .carousel-control-next{
    color: $primary-color;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon{
    width: 25px;
    height:25px;
    color: $primary-color;
  }
  .carousel-indicators{
    color: $primary-color;
  }
}

/* =============== Fin Styles GuestHouse ================== */