section {
  padding-bottom: 4%;
}

/*================== Style Header ===============*/

header {
  h1 {
    font-family: $font-main-title;
    z-index: 1000;
  }

  img {
    position: relative;
    z-index: -10;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    -webkit-filter: contrast(90%) brightness(90%);
    filter: contrast(90%) brightness(90%);
  }

  .a-header:link, .a-header:visited {
    color: $text-color-secondary;
    text-decoration: none;
  }

  .a-header:hover, .a-header:active {
    color: $primary-color;
  }

  .title-wrapper {
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(7vw + 15px);
  }

  .p-title-wrapper {
    font-family: $font-main-title;
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  .btn {
    position: absolute;
    font-family: $font-text;
    text-decoration: none;
    padding: 1% 2%;
    color: $text-color-primary;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    background-image: none;
    background-color: $primary-color;
    z-index: 1000;
    border-radius: 60px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    &:hover {
      color: $text-color-secondary;
      border-color: $secondary-color;
      background-color: $secondary-color;
      text-decoration: none;
    }
  }

  .header-arrow a {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;

    &:hover{
      border-color: $secondary-color;
    }
  }
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
/*================== Fin Style Header ===============*/

/*================== Début style Ferme Index ========*/

.farm-index {
  .img-big-farm {
    object-fit: cover;
    height: 100%;
  }

  .card-img-top {
    border-radius: 0;
  }

  .img-small-farm {
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
  }

  p {
    font-family: $font-text;
    font-size: calc(15px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  .btn-outline a{
    @include btn-outline($secondary-color);
  }
  .header-arrow a{
    position: absolute;
    margin-left: -17px;
    width: 28px;
    height: 28px;
    border-left: 3px solid $footer-color;
    border-bottom: 3px solid $footer-color;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
  }

  .discover-events{
    cursor: pointer;
    color: $footer-color;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  }
}
/*================== Fin style Ferme Index ========*/

/*================== Début style Actualités ========*/

.farm-events {
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .75s ease;
    -o-transition: height .75s ease;
    transition: height .75s ease;
  }
  h3 {
    font-size: calc(19px + (23 - 19) * ((100vw - 300px) / (1600 - 300)));
  }
  hr {
    border-color: $primary-color;
  }
  img {
    max-height:600px;
    object-fit:cover;
    border-radius: 0;
  }
  .event-date {
    font-weight: bold;
    font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1600 - 300)));
  }

  .card {
    background-color: $background-card-color;
    border:none;
  }

  .single-event {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 0;
  }
  .card-description{
    z-index:1000;
    width: 90%;
    background-color: $background-card-color;
    padding: 30px;
    margin-top: -5em;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 14px 0 rgba(0, 0, 0, 0.06);
  }
}

/*================== Fi style Actualités ========*/

/*================== Début style week basket ========*/

.week-basket{
  .jumbotron{
    background-image: url("../images/image_week_basket.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    height:500px;
    //display: flex;
    align-items: center;
    h2{
      color: $primary-color;
    }
    .lead{
      color: $text-color-secondary;
    }
  }
  .btn-over-image{
    @include btn-over-image();
  }
}

/*================== Fin style week basket ========*/

/*================== Début style top du moment Index ========*/

.showcased-products {
  background-color: $showcased-section;

  .nav-link {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding: 10px 35px;
    width: 300px;
  }

  .nav-item {
    background-color: $footer-color;
    border: $footer-color 1px solid;
    border-radius: unset;

    a {
      color: white;
    }

    .active {
      color: $footer-color;
      background-color: $background-color;
      border-color: $footer-color;
      border-radius: unset;
    }
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }
  .btn-width{
    width: 300px;
    padding: 10px 35px;
  }

  .card {
    width: 20rem;
    border-radius: unset;
    border: none;
    background-color: transparent;

    .card-description{
      width: 90%;
      background-color: $background-card-color;
      padding: 30px;
      margin-top: -2em;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 14px 0 rgba(0, 0, 0, 0.06);
    }

    .card-title {
      font-family: $font-title;
      text-transform: uppercase;
      font-weight: 700;
      font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
    }

    .bold-text {
      font-weight: bold;
    }

    .card-text {
      font-family: $font-text;
      height: 2rem;
    }

    .card-img-top {
      height: 16rem;
      object-fit: cover;
      border-radius: 0;
    }

    .price {
      color: $primary-color;
    }

    .btn-outline {
      @include btn-outline($secondary-color);
    }

    .card-footer{
      border:none;
      background-color: $background-card-color;
    }

    .card-text-gray{
      color: $text-color-gray;
    }
  }
}

/*================== Fin style top du moment Index ========*/

/*================== Début style banner ========*/

.banner {
  .jumbotron {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image_banner.jpg");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
  }

  .p-banner {
    padding-top: 3%;
    font-family: $font-main-title;
    color:$text-color-secondary;
    font-size: calc(18px + (42 - 18) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  img {
    max-width: 200px;
  }

}

/*================== Fin style banner ========*/

/*================== Début map Index ========*/

.contact-us {
  .map {
    width: 25rem;
    height: 20rem;
    filter: grayscale(100%);
    transition: all 0.8s ease-out;

    &:hover {
      filter: unset;
    }
  }
  .address-hours{
    .fas{
      margin-right: 10px;
      color: $secondary-color;
    }
    p{
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 1.1rem;
      span{
        margin-left: 28px;
      }
    }
  }
}

/*================== Fin map Index ========*/

/*================== Style Contact Form ===============*/

.contact-form {
  font-size: $label-font-size;
}

.required::after {
  @include required();
}

.form-control::placeholder {
  font-style: italic;
  font-size: 14px;
}


.button-form {
  background-color: $primary-color;
  border: none;
  border-radius: 0;

  &:hover {
    background-color: $footer-color;
    border-color: black;
  }
}

/*================== End Style Contact Form ===============*/



