section {
  padding-bottom: 4%;
}

html {
  scroll-behavior: smooth;
}

/*================== Style Header ===============*/

header {
  h1 {
    font-family: $font-main-title;
    z-index: 1000;
  }

  img {
    position: relative;
    z-index: -10;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    -webkit-filter: contrast(90%) brightness(90%);
    filter: contrast(90%) brightness(90%);
  }

  .a-header:link, .a-header:visited {
    color: $text-color-secondary;
    text-decoration: none;
  }

  .a-header:hover, .a-header:active {
    color: $primary-color;
  }

  .title-wrapper {
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(7vw + 15px);
  }

  .p-title-wrapper {
    font-family: $font-main-title;
    color: $text-color-secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  .btn {
    position: absolute;
    font-family: $font-text;
    text-decoration: none;
    padding: 1% 2%;
    color: $text-color-secondary;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    background-image: none;
    background-color: $footer-color;
    z-index: 1000;
    border-radius: 0;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    &:hover {
      color: $text-color-secondary;
      border-color: $secondary-color;
      background-color: $secondary-color;
      text-decoration: none;
    }
  }

  .header-arrow a {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 4px solid $footer-color;
    border-bottom: 4px solid $footer-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;

    &:hover {
      border-color: $secondary-color;
    }
  }
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

/*================== Fin Style Header ===============*/

/*================== Début style Ferme Index ========*/

.farm-index {
  @include background-sections;
  padding-top: 6%;
  padding-bottom: 0;

  .padding-if-event {
    padding-bottom: 6%;
  }

  .img-big-farm {
    object-fit: cover;
    height: 100%;
    max-height: 340px;
  }

  .card-img-top {
    border-radius: 0;
  }

  .img-small-farm {
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
  }

  h3 {
    font-family: $font-title;
    color: $text-color-primary;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    text-transform: uppercase;
  }


  .tabs-custom {
    text-align: left;

    .nav-tabs-wrap {
      position: relative;
      padding-bottom: 4px;

      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: 6px;
        background: #d7d7d7;
      }
    }

    .nav-tabs {
      font-size: 0;
      line-height: 0;
      word-spacing: 0;
      border: 0;
      justify-content: space-between;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav-item {
      float: none;
      margin: 0;
      border: 0;
      cursor: pointer;
      transition: .33s all ease;
      display: inline-block;
    }

    .nav-link.active {
      color: $footer-color;
      background: transparent;
      cursor: default;

      &::after {
        width: 100%;
        opacity: 1;
      }
    }

    .nav-link {
      position: relative;
      text-align: center;
      vertical-align: middle;
      padding: 10px 0 16px 0;
      font-family: $font-title;
      color: $text-color-tertiary;
      font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
      line-height: 1;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      border: 0;
      border-radius: 0;

      &::after {
        position: absolute;
        content: '';
        bottom: -4px;
        left: 50%;
        width: 130%;
        height: 4px;
        border-radius: 6px;
        background: $footer-color;
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
        transition: all .25s ease;
      }

      &:hover {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    a {
      transition: all .25s ease-in-out;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $footer-color;
      }
    }

    p {
      padding-top: 4%;
      font-family: $font-text;
      font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
      color: $text-color-tertiary;
    }

    .tab-content {
      .btn-outline-reverse {
        @include btn-outline-reverse($footer-color);
        bottom: 0;
      }
    }
  }

  /* Bouton Toggle des actualités */
  .discover-events {
    .btn-outline {
      @include btn-outline($primary-color);
    }
  }

  @include button-collapse;

  .collapse-btn-text {
    color: $footer-color;
    font-family: $font-text;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 15px;
  }
  
  .btn-calendar{
    cursor: pointer;
  }
}

/*================== Fin style Ferme Index ========*/

/*================== Début style Actualités ========*/

.farm-events {
  @include background-sections;
  @include chrome-correction;

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .75s ease;
    -o-transition: height .75s ease;
    transition: height .75s ease;
  }

  h3 {
    font-size: calc(19px + (23 - 19) * ((100vw - 300px) / (1600 - 300)));
  }

  hr {
    border-color: $primary-color;
  }

  img {
    max-height: 600px;
    object-fit: cover;
    border-radius: 0;
  }

  .event-date {
    font-weight: bold;
    font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1600 - 300)));
  }

  .card {
    @include card-form(30rem, 100%);

    .card-img-top {
      object-fit: contain;
      max-height: 25rem;
      min-height: 25rem;
    }
  }

  .single-event {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 0;
  }

  .card-description {
    z-index: 1000;
    width: 90%;
    background-color: $background-card-color;
    padding: 30px;
    margin-top: -5em;
    box-shadow: 0 3px 5px -1px rgba($text-color-primary, 0.08), 0 5px 8px 0 rgba($text-color-primary, 0.12), 0 1px 14px 0 rgba($text-color-primary, 0.06);
  }
}

/*================== Fi style Actualités ========*/

/*================== Début style week basket ========*/

.week-basket {
  @include background-sections;

  .jumbotron {
    background-image: url("../images/image_week_basket.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba($text-color-primary, 0.6);
    background-blend-mode: color;
    height: 100%;
    border-radius: 0;
    align-items: center;

    h2 {
      color: $primary-color;
    }

    .lead {
      color: $text-color-secondary;
      font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
      line-height: 2.3rem;
    }
  }

  .btn-outline-reverse {
    @include btn-outline-reverse($text-color-secondary);
    bottom: 0;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));

    &:hover{
      background-color: $color-transparent;
      border-color:$footer-color;
      color: $footer-color;
    }
  }

  .btn-over-image {
    @include btn-over-image();
  }

  .recipe{
    border-radius: revert;
  }
}

/*================== Fin style week basket ========*/

/*================== Début style top du moment Index ========*/

.showcased-products {
  @include background-sections;
  @include spinner;
  @include card-products;

  .nav-link {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding: 10px 35px;
    width: 300px;
  }

  .nav-item {
    color: $footer-color;
    background-color: $color-transparent;
    border: 1px solid $footer-color;
    border-radius: unset;

    a {
      color: $footer-color;
    }

    .active {
      background-color: $footer-color;
      border: $footer-color 1px solid;
      border-radius: unset;
    }
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .btn-width {
    width: 300px;
    padding: 10px 35px;
  }
}

/*================== Fin style top du moment Index ========*/

/*================== Début style banner ========*/

.banner {
  @include background-sections;

  .jumbotron {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image_banner.jpg");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    border-radius: 0;
  }

  .p-banner {
    padding-top: 3%;
    font-family: $font-main-title;
    color: $text-color-secondary;
    font-size: calc(18px + (42 - 18) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 2px;
  }

  img {
    max-width: 200px;
  }
}

/*================== Fin style banner ========*/

/*================== Début map Index ========*/

.contact-us {
  @include background-sections;

  a{
    margin-bottom: 4%;
    margin-top: 4%;
    font-family: $font-text;
    color: $text-color-tertiary;
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
    transition: .33s all ease;
  }

  .contact-link:hover{
    color: $secondary-color;
    text-decoration: none;
  }

  h3 {
    font-family: $font-text-special;
    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: $footer-color;
  }

  .card {
    max-width: 400px;
    border: none;
    background-color: $color-transparent;
  }

  .card-left {
    max-width: 280px;
  }

  .card-title {
    padding: 1.25rem;
  }

  .address-hours {
    .fas {
      margin-right: 10px;
      color: $footer-color;
      font-size: calc(13px + (20 - 13) * ((100vw - 300px) / (1600 - 300)));
    }

    p {
      margin-bottom: 4%;
      margin-top: 4%;
      font-family: $font-text;
      color: $text-color-tertiary;
      font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));

      span {
        margin-left: 28px;
      }
    }
  }
}

.map-contact {
  padding-bottom: 0;

  .map {
    width: 100%;
    height: 30vh;
    filter: grayscale(100%);

    &:hover {
      filter: unset;
    }
  }
}

/*================== Fin map Index ========*/

/*================== Style Contact Form ===============*/
.contact {
  @include background-sections;
  @include chrome-correction;

  .btn-outline {
    @include btn-outline($primary-color);
  }

  @include button-collapse;

  .collapse-btn-text {
    color: $footer-color;
    font-family: $font-text;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 15px;
  }
}

.contact-form {
  font-size: $label-font-size;
}

.required::after {
  @include required();
}

.form-control::placeholder {
  font-style: italic;
  font-size: 14px;
}

.button-form {
  background-color: $footer-color;
  border: 1px solid $footer-color;
  border-radius: 0;

  &:hover {
    background-color: $color-transparent;
    border: 1px solid $footer-color;
    color: $footer-color
  }

}

/*================== End Style Contact Form ===============*/


/*================== Style Season Table ===================*/

.season-table {
  tr .product-calendar-name {
    font-family: $font-text-special;
    border-bottom: $table-border-color;
    letter-spacing: 1.3px;
    word-break: break-all;
  }

  .product-row {
    max-width : 120px;
    min-width: 120px;
  }

  .table-second-head {
    font-size: 11px;
    vertical-align: center;
  }

  .border-table{
    border-bottom: 1pt solid $table-border-color-secondary;
  }

  .table-title{
    color: $table-text-color;
  }
  .no-picking {
    color: $table-header;
  }

  .table th, .table td {
    vertical-align: center;
  }

  .calendar-th {
    max-width: 50px;
    text-align: center;
  }

  td {
    text-align: center;
  }

  .no-head {
    border-top: unset;
  }

  .season-img {
    max-height: 25px;
    max-width: 25px;
  }

  .hand-img {
    max-height: 25px;
    min-height: 25px;
  }

  .out-of-stock {
    font-family : $font-title;
    font-weight: lighter;
  }
}

.img-legend {
  max-height: 40px;
  max-width: 40px;
}





