.login {

  margin-top: 6%;
  @include pill-nav();

  h3 {
    font-weight: unset;
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
  }

  label {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .card {
    @include card-form(30rem, 100%);
  }

  a {
    color: $text-color-tertiary;
    font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  }

  .checkbox {
    label {
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
  }
}

.request-password {
  margin-top: 6%;

  h3 {
    font-weight: unset;
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
  }

  label {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 0;
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .card {
    @include card-form(30rem, 100%);
  }
}

.change-password {
  margin-top: 6%;

  h3 {
    font-weight: unset;
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
  }

  label {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 0;
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .card {
    @include card-form(30rem, 100%);
  }
}

.register {
  margin-top: 6%;
  @include pill-nav();

  h3 {
    font-weight: unset;
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
  }

  label {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 0;
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .card {
    @include card-form(40rem, 100%);
  }
}