.my-account {
  .container {
    margin-top: 8vh;
    margin-bottom: 6vh;
  }

  .jumbotron {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image_banner.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    padding-top: 15vh;
    padding-bottom: 6%;
    margin-bottom: 0;
  }

  h1 {
    color: $text-color-secondary;
    font-family: $font-main-title;
    font-size: calc(55px + (65 - 55) * ((100vw - 300px) / (1600 - 300)));

  }

  h2 {
    color: $text-color-secondary;
    font-family: $font-text-special;
    font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));
  }

  a {
    color: $text-color-tertiary;
    margin: 0;
  }

  .card {
    @include card-form(25rem, 90%);
    margin: 0 10px 15px 10px;
    padding: 10px;
    border-bottom: transparent 3px solid;
    border-radius: unset;

    &:hover {
      text-decoration: none;
      border-bottom: $secondary-color 3px solid;
    }

    .card-body {
      padding: 10px;
    }

    .card-img-top {
      height: 10vh;
      padding-top: 2vh;
      object-fit: contain;
    }
  }

}

.account-informations {
  .container {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  .jumbotron {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image_banner.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    padding-top: 15vh;
    padding-bottom: 6%;
    margin-bottom: 0;
  }

  h1 {
    color: $text-color-secondary;
    font-family: $font-main-title;
    font-size: calc(55px + (65 - 55) * ((100vw - 300px) / (1600 - 300)));

  }

  h2 {
    color: $text-color-secondary;
    font-family: $font-text-special;
    font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));
  }

  h3 {
    font-family: $font-title;
    font-weight: unset;
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  }

  label {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 0;
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .card {
    @include card-form(40rem, 100%);
  }
}

.change-password-account {
  .container {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  .jumbotron {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image_banner.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    padding-top: 15vh;
    padding-bottom: 6%;
    margin-bottom: 0;
  }

  h1 {
    color: $text-color-secondary;
    font-family: $font-main-title;
    font-size: calc(55px + (65 - 55) * ((100vw - 300px) / (1600 - 300)));

  }

  h2 {
    color: $text-color-secondary;
    font-family: $font-text-special;
    font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));
  }

  h3 {
    font-family: $font-title;
    font-weight: unset;
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  }

  label {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 0;
  }

  .btn-outline {
    @include btn-outline($footer-color);
  }

  .card {
    @include card-form(30rem, 100%);
  }
}