<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" class="row justify-content-center my-3"
      onsubmit="return confirm('Veuillez confirmer la suppression du produit');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-del">Supprimer le produit</button>
</form>
