<div class="my-5 mx-auto">

    {{ form_start(form, {'attr': {class: 'row justify-content-center'} }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</div>
<div>
    <button class="btn btn-secondary mx-5">{{ button_label|default('Ajouter') }}</button>
</div>