{% extends 'adminLayout.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <section>
    <div class="my-5 container">
        <h1 class="admin-h1 my-5 text-center">Ajouter un produit</h1>
        {{ include('product/_form.html.twig') }}
        <div class="text-center">
            <a class="btn btn-admin px-4" href="{{ path('product_index') }}"
               role="button">Retour à la liste des produits</a>
        </div>
    </div>
    </section>
{% endblock %}
