{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <h1 class="admin-h1 text-center">Ajouter un produit</h1>
    <div class="container-fluid">
    {{ include('product/_form.html.twig') }}
    </div>
    <a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
