<footer class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
            <a href="/"><img src="logo_voliere.png" alt="logo ferme la volière"/> </a>
        </div>
        <div class="row col-sm-6 col-md-3">
            <ul>
                <li class="footer-title">À PROPOS</li>
                <li><a href="/">Notre ferme</a></li>
                <li><a href="/">Nos produits</a></li>
                <li><a href="/">Contactez-nous</a></li>
            </ul>
        </div>
        <div class="row col-sm-6 col-md-3 text-left">
            <ul>
                <li class="footer-title">MENTIONS LÉGALES</li>
                <li><a href="/">Mentions Légales</a></li>
                <li><a href="/">Conditions de vente</a></li>
            </ul>
        </div>
        <div class="row col-sm-6 col-md-3 text-left">
            <ul>
                <li class="footer-title">NOUS TROUVER</li>
                <li>Ferme La Volière</li>
                <li>181 rue de Malvoviers</li>
                <li>45520 GIDY</li>
                <li>Tél 06.63.76.75.63 / 06.60.39.13.18</li>
            </ul>
        </div>
        <div class="row justify-content-center text-center col-12">
            <p>Made by Sylvain Aubert, Maïwenn Gay, Nawal Zakarya, Vincent Mouline et Solène Rambaut</p>
        </div>
    </div>

</footer>