<footer class="container-fluid pt-5">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-7 col-md-3 justify-content-center">
            <a href="/"><img src="{{ asset('build/logo_voliere.png') }}" alt="logo ferme la volière" class="responsive"/> </a>
        </div>
        <div class="row col-xs-12 col-sm-7 col-md-3">
            <ul>
                <li class="footer-title pb-3">À PROPOS</li>
                <li><a href="/">Notre ferme</a></li>
                <li><a href="/">Nos produits</a></li>
                <li><a href="{{ path('app_index') }}#contactForm">Contactez-nous</a></li>
            </ul>
        </div>
        <div class="row col-xs-12 col-sm-7 col-md-3 text-left">
            <ul>
                <li class="footer-title pb-3">MENTIONS LÉGALES</li>
                <li><a href="/">Mentions Légales</a></li>
                <li><a href="/">Conditions de vente</a></li>
            </ul>
        </div>
        <div class="row col-xs-12 col-sm-7 col-md-3 text-left">
            <ul>
                <li class="footer-title pb-3">NOUS TROUVER</li>
                <li>Ferme La Volière</li>
                <li>181 rue de Malvoviers</li>
                <li>45520 GIDY</li>
                <li>Tél 06.63.76.75.63 / 06.60.39.13.18</li>
            </ul>
        </div>
        <div class="row justify-content-center text-center col-12 pt-2">
            <p>Made by Sylvain Aubert, Maïwenn Gay, Nawal Zakarya, Vincent Mouline et Solène Rambaut</p>
        </div>
    </div>

</footer>