<footer class="container-fluid pt-3">
    <div class="row justify-content-end">
        <div class="col-2 col-sm-4 col-md-3 justify-content-center">
            <a href="/"><img src="{{ asset('build/logo_voliere_complet.png') }}" alt="logo ferme la volière"
                             class="embed-responsive pl-md-5 pt-md-4"/> </a>
        </div>
        <div class="col-5 col-sm-4 offset-md-3 col-md-3">
            <ul>
                <li class="footer-title pb-3">À propos</li>
                <li><a href="{{ path('our_farm') }}">Notre ferme</a></li>
                <li><a href="{{ path('catalog') }}">Nos produits</a></li>
                <li><a data-toggle="modal" data-target="#CGVModal" href="/">Mentions Légales</a></li>
                <li><a href="{{ path('app_index') }}#contactForm">Contactez-nous</a></li>
            </ul>
        </div>
        <div class="col-5 col-sm-4 col-md-3">
            <adress>
                <ul>
                    <li class="footer-title pb-3">Nous trouver</li>
                    <li>Ferme de la Volière</li>
                    <li>181, rue de Malvoviers</li>
                    <li>45520 Gidy</li>
                    <li>Tél. : +33 (0)6 63 76 75 63</li>
                </ul>
            </adress>
        </div>
    </div>
        <div class="row justify-content-center text-center col-12 pt-2">
            <p>© Ferme de la Volière, 2019 | Code & design par Sylvain Aubert, Nawal Zakarya, Vincent Mouline & Solène Rambaut</p>
        </div>
    </div>

    <!-- Modal Conditions Général de Ventes-->

    <div class="modal fade cgv-modal" id="CGVModal" tabindex="-1" role="dialog" aria-labelledby="CGVModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Mentions légales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Dénomination sociale :</h6>
                    <p> EARL de LA VOLIERE</p>
                    <adress>
                        <p> 181 rue de Malvoviers</p>
                        <p> 45520 Gidy - France</p>
                    </adress>
                    <p> RCS Orléans 343 675 633 - APE 011A</p>
                    <p>Déclaration CNIL nro. 1095875</p>
                    <p>L'EARL de La Volière s'engage à respecter la réglementation en vigueur concernant la mise en
                        oeuvre
                        et l'activité d'un site Internet. La création de liens hypertextes vers le site
                        "www.lavoliere.info"
                        ne saura, en aucun cas, engager la responsabilité de l'EARL de La Volière.</p>
                    <p>En application de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et
                        aux
                        libertés, vous disposez des droits d’opposition, et de rectification des données vous
                        concernant.</p>
                    <adress>
                        <p>Pour exercer ce droit, adressez-vous par email à :</p>
                        <p>info@lavoliere.info</p>
                        <p>Ou par courrier à :</p>
                        <p>EARL de La Volière. 181 rue de Malvoviers, 45520 Gidy. France.
                        </p>
                    </adress>
                </div>
            </div>
        </div>
    </div>
</footer>