<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top" id="navbar">
    <img class="logo-navbar d-inline-block align-top" src="{{ asset('build/logo_voliere.png') }}" width="30" height="30"
         alt="logo de la voliere">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav py-0 ml-auto text-right">
            <a class="nav-item nav-link mx-2 active" href="#">Accueil</a>
            <a class="nav-item nav-link mx-2" href="#">Nos produits</a>
            <a class="nav-item nav-link mx-2" href="#">Notre ferme</a>
            <a class="nav-item nav-link mx-2" href="{{ path('app_index') }}#contactForm">Contact</a>
        </div>
        <div class="navbar-nav text-right">
            <a class="nav-item nav-link py-auto" href="#">
                <img class="basket-navbar d-inline-block align-top" src="{{ asset('build/basket.png') }}" width="30"
                     height="30"
                     alt="panier d'achat">
            </a>
            <a class="nav-item nav-link py-auto" href="#">
                <img class="user-navbar d-inline-block align-top" src="{{ asset('build/user.png') }}" width="30" height="30"
                     alt="mon compte">
            </a>
        </div>
    </div>
</nav>
