<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    {% block footer %}{% endblock %}
    </body>
</html>
