<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include '_navbar.html.twig' %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            +     {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
